.grid-container {
    display: grid;                           /*Convierte el contenedor en una grilla */
    /* display: inline-grid; */
    grid-template-columns: auto auto auto;   /*Forma en que se distribuyen los elementos*/
    column-gap: 10px;                        /*Espacios entre las columnas de hijos*/
    row-gap: 40px;                           /*Espacios entre las filas de hijos*/
    /* gap:3%; */
    background-color: lightpink;           /*Color de fondo del contenedor */
    padding: 10px;
    text-align: center;                      /* Contenido de los hijos centrado en x */                       /*Coloco un espacio alrededor del conjunto de hijos*/
    /*height: 400px;*/
    border: 2px solid black;               /* Borde del contenedor */
}

.grid-item {
    background-color: orange;  /* Color de fondo de los hijos */
    color:black;               /* Color del texto de los hijos */
    padding:10px;
    border: 2px solid black;   /* Borde de los elementos hijos */
}
