/*----------------------------------------------------------------*/
/* Hoja de estilos                                                */
/*----------------------------------------------------------------*/
/* Fuente para toda la página */
* {font-family: 'Courier New', Courier, monospace;}


/*----------------------------------------------------------------*/
/* Definimos el contenedor grid                                   */
/*----------------------------------------------------------------*/
.container {
    display: grid;

    /* Uso un atajo para definir tres filas / tres columnas */
    grid-template: 100px 1fr auto / 20% auto 20%; 

    /* Distribuimos el contenido en cada fila */
    grid-template-areas: "header header header" 
                         "izq contenido der" 
                         "pie pie pie";

    /* separamos los items con gap */
    gap: 2%;

    /* Hacemos que el diseño ocupe casi el alto total del navegador */
    /* height: 90vh; */
}


/*----------------------------------------------------------------*/
/* Defino el nombre y color de cada area del grid                 */
/*----------------------------------------------------------------*/
.header    { grid-area: header;    background-color: orange;  }
.izq       { grid-area: izq;       background-color: coral;  }
.der       { grid-area: der;       background-color: rgb(177, 177, 66);  }
.contenido { grid-area: contenido; background-color: bisque;}
.pie       { grid-area: pie;       background-color: orange;  }


/*----------------------------------------------------------------*/
/* Definimos la apariencia de cada item del grid                  */
/*----------------------------------------------------------------*/
.item {
    padding: 10px;
    color: darkgreen;
    border-radius: 10px;
}


/*----------------------------------------------------------------*/
/* Imagen con bordes redondeados, con limites de tamaño           */
/*----------------------------------------------------------------*/
img {
    border-radius: 30px;
    width: 100%;
    max-width:400px;
  }


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo tablet                      */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
    .container {
        /* Uso un atajo para definir 4 filas / 2 columna */
        grid-template: 100px auto auto 60px / 30% auto; 

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header header" "izq contenido" "der der" "pie pie";
    }
}


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo celular                     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .container {
        /* Uso un atajo para definir 6 filas / 1 columna */
        grid-template: 100px auto auto auto 60px / 100%; 

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header" "izq" "contenido" "der" "pie";
    }
}